html {
	font-size: 12px;
}

.navbar-brand {
	font-size: 1.75rem;
	z-index: 10;
}

.navbar {
	font-size:1.4rem;
}

.navbar-nav {
	align-items: center;
}

.navbar-collapse.collapse.show {
	background-color: #000000d9;
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 3rem;
    z-index: 2;
}

.navbar-collapse.collapse.show .nav-link {
	font-size: 2.5rem;
}

.noflow {
	overflow: hidden;
}

.navbar-toggler {
    z-index: 10;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-dark .navbar-toggler-icon,
.navbar-toggler.collapsed .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-dark .navbar-toggler.collapsed {
    color: rgba(255,255,255,0.5) !important;
    border-color: rgba(255,255,255,0.5);
}

.navbar-dark .navbar-toggler,
.navbar-dark .navbar-toggler:hover {
    color: rgba(255,255,255,1.0) !important;
    border-color: rgba(255,255,255,1.0);
}

button:focus {
	outline: 0;
}

.icon {
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

.text-phone {
	color: #ffc800 !important;
}

.vh-100 {
	height: 100vh;
}
/*========================================================
========================================================*/
.splash {
	background: url(../images/food7.webp);
	background-repeat:no-repeat;
    background-size: cover;
    background-position: top;
	background-attachment: fixed;
	min-height: 500px;
	color: white;
}

.dark-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 700px;
	background: rgba(0,0,0,0.4);
}

.splash-text {
	line-height: 5rem;
	font-size: 17vw;
	font-weight: bold;
}

.splash-subtext {
	font-size: 1.35rem;
	font-weight: 300;
	padding: 1rem 0.2rem;
}

.order-button {
	display: block;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	max-width: 23rem;
    height: 4rem;
    margin-bottom: 0.5rem;
	opacity: 0.9;
	transition: transform 0.2s;
}

.thirdparty {
	background-color: white;
	color: green;
	font-size: 2rem;
	font-weight: 600;
	border: 2px solid green;
	transform: scale(0.97);
}
.thirdparty:hover {
	color: green;
	transform: scale(1.0) !important;
}

.grubhub {
	background-image: url('../images/grubhub.png');
	/*background-image: url('../images/grubhub2.png');*/
	transform: scale(1.05);
}
.slice {
	background-image: url('../images/slice.png');
}

/*========================================================
========================================================*/
.banner {
	background-color: #cc0014 !important;
	padding: 2rem 0rem 3rem;
	border: 1px solid white;
}

.banner-text {
	color: white;
	font-size: 14vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 4rem;
}

.banner-sub {
	background: #00000030;
	color: white;
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding: 2rem 3rem;
    margin: 2rem 0rem;
    border: 1px dashed white;
}

/*========================================================
========================================================*/
.event-block {
    padding: 3rem 1rem;
    text-align: center;
}

.party-title {
    display: inline-block;
	background-color: red;
    color: white;
    padding: 11px 20px;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 800;
}

.party-content {
	font-size: 14px;
    padding: 1rem;
    text-align: justify;
}

.partyimg {
    width: 80%;
    padding-bottom: 1rem;
}

.event-title {
    color: white;
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 600;
    padding: 0rem 1rem;
}

.event-content {
	color: #aaa;
	margin: 3rem 3rem;
	font-size: 14px;
	text-align: justify;
}

#caterModal .carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
#caterModal .carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
#caterModal button.close {
    color: black;
}

/*========================================================
========================================================*/
.menu-section {
    background-color: #ce7513;
    background-image: url(https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: 200% 100%;
    background-position: 35% 0%;
    min-height: 850px;
}

.menu-holder {
	max-width: 90%;
}

.menu-section .card {
	box-shadow: 1px 5px 15px #000;
	opacity: 0.9;
}

.menu-section .card:hover {
	opacity: 1;
}

.menu-title {
	color: antiquewhite;
	font-size: 18vw;
    line-height: 16vw;
	font-weight: 800;
	letter-spacing: 4px;
	padding-top: 2rem;
}

.menupic {
	cursor: pointer;
	min-height: 380px;
}

.helper {
	color: white;
	font-size: 1rem;
}

.specials {
	width: 90%;
    padding-top: 1rem;
    padding-bottom: 6rem;
}

.specials-title {
	color: antiquewhite;
	font-size: 3.5rem;
    letter-spacing: 2px;
}

.special-box {
    background-color: #301a0de6;
    color: white;
    padding: 2rem 1rem;
    border: 1px solid black;
    border-right: 0px;
    border-bottom: 0px;
}

.special-box:hover {
	background-color: #301a0d;
}

.special-price {
    float: right;
    background-color: #301a0de6;
    color: antiquewhite;
    width: 6.5rem;
    margin-left: 0.5rem;
	font-size: 2rem;
    font-weight: 600;
    text-align: center;
    border: 1px solid #694b00
}

.special-desc {
    color: tan;
    font-size: 1.2rem;
    padding: 0rem 0.5rem;
}

/*========================================================
========================================================*/
.mapback {
	background-image: url('../images/map1edit2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #503a01;
	background-blend-mode: hard-light;
}

.location-title {
	color: white;
	font-size: 18vw;
	line-height: 16vw;
	padding: 2rem 0rem;
}

.mapback iframe {
	height: 400px;
	margin: 2rem 0rem;
}

.details {
	font-size: 18px;
	text-align: center;
	padding-top: 1rem;
}

.details hr {
    background-color: #fff;
    border-radius: 3px;
    height: 1px;
    margin: 1rem 0 2.5rem;
}

.details .subtitle {
	display: block;
	font-size: 7vw;
	padding-bottom: 2rem;
}

.primary-detail {
	text-align: left;
	font-size: 1.5rem;
}

.secondary-detail {
	text-align: left;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	font-weight: 300;
}

/*========================================================
========================================================*/
.footer {
	background: #794e0052;
	margin-top: 1rem;
	padding: 1.2rem 0 0.5rem;
}

.footer-inner {
	width: 100%;
	max-width: 1050px;
	margin: 0.5rem auto 0;
}

.sociallinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    padding-bottom: 0.8rem;
}

.sociallinks .link {
    font-size: 2.3em;
    transition: all 200ms;
}

.sociallinks .link:hover {
    transform: scale(1.15);
}

.link.facebook {
    color: #3b5998;
}

.link.youtube {
    color: #B71D1C;
}

.link.twitter {
    color: #1DA1F3;
}

.link.instagram {
    color: #E1306C;
}

.link.vimeo {
    color: #86c9ef;
}

.copyright {
	display: flex;
    justify-content: space-around;
	color: white;
}

/*========================================================
========================================================*/

.modal-body {
	padding: 0rem;
	border: 2px solid tan;
}

.carousel-item img {
	height: 90vh;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	width: 40px;
	height: 40px;
}

.carousel-control-next, .carousel-control-prev {
	opacity: 0.7;
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
	opacity: 1.0;
}

button.close {
	position: absolute;
	top: -5px;
	right: 5px;
	color: white;
	opacity: 1.0;
	z-index: 10;
}

.close {
	font-size: 2.5rem;
}

.modal-backdrop {
	opacity: 0.8 !important;
}

/*========================================================
========================================================*/

/*// X-Small devices (Galaxy S8 phones, 360px and up)*/
@media (min-width: 360px) {
	.splash-inner {
		max-width: 320px;
    	margin: 0 auto;
	}
	.splash-text {
		font-size: 5rem;
	}
	.banner-text {
    	max-width: 360px;
    	margin: 0 auto;
	    font-size: 4rem;
	}
	.vip-text {
		max-width: 340px;
	    margin: 0 auto;
	    display: block;
	}
	.party-content {
		max-width: 370px;
    	margin: 0 auto;
	}
	.party-title {
		font-size: 3rem;
	}
	.partyimg {
		max-width: 320px;
	}
	.event-title {
		font-size: 5.5rem;
		padding: 0rem 2rem;
		max-width: 400px;
    	margin: 0 auto;
	}
	.event-content {
	    max-width: 400px;
	    padding: 0rem 3rem;
	    margin: 3rem auto;
	}
	.menu-holder {
		max-width: 320px;
	}
	.specials {
		max-width: 340px;
	}
	.special-desc {
	    font-size: 1.4rem;
	    padding: 0rem 2rem;
	}
	.details {
		font-size: 2rem;
	}
	.primary-detail {
		font-size: 1.7rem;
	}
	.secondary-detail {
		font-size: 1.3rem;
	}
	.sociallinks .link {
		font-size: 8vw;
	}
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	html {
		font-size: 16px;
	}
	.splash-inner {
		max-width: 400px;
	}
	.banner-text {
		max-width: 470px;
	}
	.vip-text {
		max-width: 450px;
	}
	.event-block {
		padding: 3rem 3rem;
	}
	.party-content {
		max-width: 460px;
	    padding: 1rem 0rem;
    	font-size: 16px;
	}
	.partyimg {
    	max-width: 360px;
	}
	.event-inner {
		max-width: 520px;
		margin: 0 auto;
	}
	.event-title {
		max-width: initial;
		font-size: 5rem;
	}
	.event-content {
		max-width: initial;
		margin: 3rem auto;
		font-size: 16px;
	}
	.menu-holder {
		max-width: 420px;
	}
	.menupic {
		height: 500px;
	}
	.specials {
		max-width: 440px;
	}
	.menu-title, .location-title {
		font-size: 6rem;
		line-height: 6rem;
	}
	.location-title {
		max-width: 550px;
		padding-left: 1rem;
	}
	.sociallinks {
    	padding-bottom: 0rem;
	}
	.sociallinks .link {
		font-size: 2rem;
	}
	.footer {
		padding: 1rem 0rem;
	}
	.footer-inner {
		display: flex;
	}
	.copyright {
		font-size: 0.8rem;
		justify-content: center;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	html {
		font-size: 14px;
	}
	.splash {
		background-size: 120% 100%;
    	background-position: right;
	}
	.splash-inner {
		max-width: 360px;
		margin: 0;
	}
	.order-button {
		opacity: 0.9;
	}
	.order-button:hover {
		opacity: 1;
		transform: scale(1.1);
	}
	.banner {
		padding: 0rem;
	}
	.banner-text {
		font-size: 2.5rem;
	    line-height: 2.5rem;
	    padding: 0rem 0.7rem;
	    max-width: 260px;
	}
	.banner-number {
		font-size: 2rem;
	}
	.banner-sub {
	    line-height: 1.4rem;
	    font-size: 1rem;
		padding: 3rem 2rem;
	    margin: 0;
	}
	.event-block {
		padding: 4rem 5rem;
		display: flex!important;
		align-items: center!important;
	}
	.party-title {
    	font-size: 2.5rem;
	}
	.party-content {
	    margin: 1rem auto;
	    font-size: 14px;
	    max-width: 360px;
	}
	.partyimg {
	    width: 100%;
	    margin-left: 2rem;
	}
	.event-inner {
	    max-width: 580px;
	    margin: 0 auto;
	}
	.event-title {
	    font-size: 6rem;
	    line-height: 6rem;
	}
	.event-content {
	    max-width: 550px;
	    margin: 3rem auto 4rem;
	    font-size: 18px;
	    line-height: 36px;
	}
	.menu-holder {
		max-width: 460px;
	}
	.menu-title {
		font-size: 10rem;
		letter-spacing: 6px;
	}
	.menupic {
	    height: 600px;
	}
	.specials {
		max-width: 680px;
	}
	.menu-title, .location-title {
		font-size: 8rem;
		line-height: 7rem;
	}
	.location-title {
	    font-size: 8rem;
	    text-align: center;
		padding-left: 0;
		margin: 0 auto;
	}
	.details .subtitle {
		font-size: 3.5rem;
	}
	.primary-detail, .secondary-detail {
		text-align: center;
	}
	.sociallinks .link {
		color: white;
	}
	.link:hover.facebook {
	    color: #3b5998;
	}
	.link:hover.youtube {
	    color: #B71D1C;
	}
	.link:hover.twitter {
	    color: #1DA1F3;
	}
	.link:hover.instagram {
	    color: #E1306C;
	}
	.link:hover.vimeo {
	    color: #86c9ef;
	}
	.modal-dialog {
		max-width: 65vw;
	}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	html {
		font-size: 16px;
	}
	.splash-inner {
		max-width: 400px;
	}
	.splash-subtext {
		padding: 0rem 0.2rem;
	}
	.banner-text {
		max-width: 300px;
	}
	.banner-sub {
	    padding: 2rem 2rem;
	}
	.event-block {
		min-height: 480px;
		padding: 0rem 1rem;
	}
	.party-title {
	    font-size: 1.6rem;
	    font-weight: 600;
	    line-height: 2.5rem;
	    padding: 0.5rem 1.5rem;
	}
	.party-content {
		margin: 0rem auto;
		max-width: 220px;
	}
	.partyimg {
		position:relative;
	    left: -20px;
	}
	.event-inner {
	    padding: 2rem 0rem;
	}
	.event-title {
    	font-size: 4rem;
    	line-height: 4rem;
	}
	.event-content {
		margin: 2rem auto 3rem;
	    font-size: 16px;
	    line-height: 24px;
	}
	.menu-holder {
		max-width: 940px;
	}
	.menu-section {
    	background-position: 80% 0%;
	}
	.menupic {
	    height: 450px;
	}
	.specials {
		max-width: 920px;
	}
	.special-desc {
	    font-size: 1.2rem;
	    padding: 0rem 0rem;
	}
	.special-box {
	    padding: 1.5rem 1rem 1.5rem 1.3rem;
	}
	.location-title {
		font-size: 7rem;
	}
	.mapback iframe {
		opacity: 0.7;
	}
	.mapback iframe:hover {
		opacity: 1;
	}
	.location-inner {
		padding-top: 1rem;
		padding-bottom: 5rem;
	    max-width: 960px;
	    margin: 0 auto !important;
	}
	.address {
		display: block;
		font-size: 1.3rem;
		letter-spacing: 2px;
		padding-bottom: 1rem;
	}
	.details hr {
    	margin: 1rem 0;
	}
	.details {
		font-size: 1.5rem;
		padding-top: 2rem;
	}
	.details .subtitle {
	    font-size: 2.2rem;
	    padding-bottom: 1rem;
	}
	.primary-detail {
		font-size: 1.55rem;
	}
	.secondary-detail {
		font-size: 1.15rem;
	}
	.footer {
		margin-top: 1.5rem;
	}
	.copyright {
		font-size: 1rem;
	    justify-content: start;
	    display: block;
	    padding-left: 2rem !important;
	}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.splash-inner {
		margin-right: 2rem;
	}
	.banner-text {
		max-width: 350px;
		font-size: 3rem;
	}
	.banner-sub {
	    padding: 3rem 2rem;
	}
	.event-block {
	    padding: 0rem 2rem;
	}
	.party-title {
		font-size: 1.8rem;
		font-weight: 800;
		line-height: initial;
	}
	.party-content {
	    margin: 0rem auto;
	    font-size: 14px;
	    max-width: 360px;
	    text-align: center;
	}
	.menu-section {
	    background-position: 100% 0%;
	    background-size: 120% 100%;
	}
	.menu-holder {
		max-width: 1100px;
	}
	.menupic {
		height: 550px;
	}
	.specials {
		max-width: 1120px;
		width: 97%;
	}
	.special-box {
		padding: 2rem 1rem
	}
	.mapback {
		background-size: 100% 100%;
	}
	.footer-inner {
	    max-width: 1100px;
	}
}